<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>[发红包]</key>
	<string>001.png</string>
    <key>[兔子]</key>
	<string>002.png</string>
    <key>[熊猫]</key>
	<string>003.png</string>
    <key>[给力]</key>
	<string>004.png</string>
	<key>[神马]</key>
	<string>005.png</string>
	<key>[浮云]</key>
	<string>006.png</string>
	<key>[织]</key>
	<string>007.png</string>
	<key>[围观]</key>
	<string>008.png</string>
	<key>[威武]</key>
	<string>009.png</string>
	<key>[嘻嘻]</key>
	<string>010.png</string>
	<key>[哈哈]</key>
	<string>011.png</string>
	<key>[爱你]</key>
	<string>012.png</string>
	<key>[晕]</key>
	<string>013.png</string>
	<key>[泪]</key>
	<string>014.png</string>
	<key>[馋嘴]</key>
	<string>015.png</string>
	<key>[抓狂]</key>
	<string>016.png</string>
	<key>[哼]</key>
	<string>017.png</string>
	<key>[可爱]</key>
	<string>018.png</string>
	<key>[怒]</key>
	<string>019.png</string>
	<key>[汗]</key>
	<string>020.png</string>
	<key>[呵呵]</key>
	<string>021.png</string>
	<key>[睡觉]</key>
	<string>022.png</string>
	<key>[钱]</key>
	<string>023.png</string>
	<key>[偷笑]</key>
	<string>024.png</string>
	<key>[酷]</key>
	<string>025.png</string>
	<key>[衰]</key>
	<string>026.png</string>
	<key>[吃惊]</key>
	<string>027.png</string>
	<key>[闭嘴]</key>
	<string>028.png</string>
	<key>[鄙视]</key>
	<string>029.png</string>
	<key>[挖鼻屎]</key>
	<string>030.png</string>
	<key>[花心]</key>
	<string>031.png</string>
	<key>[鼓掌]</key>
	<string>032.png</string>
	<key>[失望]</key>
	<string>033.png</string>
	<key>[帅]</key>
	<string>034.png</string>
	<key>[照相机]</key>
	<string>035.png</string>
	<key>[落叶]</key>
	<string>036.png</string>
	<key>[汽车]</key>
	<string>037.png</string>
	<key>[飞机]</key>
	<string>038.png</string>
	<key>[爱心传递]</key>
	<string>039.png</string>
	<key>[奥特曼]</key>
	<string>040.png</string>
	<key>[实习]</key>
	<string>041.png</string>
	<key>[思考]</key>
	<string>042.png</string>
	<key>[生病]</key>
	<string>043.png</string>
	<key>[亲亲]</key>
	<string>044.png</string>
	<key>[怒骂]</key>
	<string>045.png</string>
	<key>[太开心]</key>
	<string>046.png</string>
	<key>[懒得理你]</key>
	<string>047.png</string>
	<key>[右哼哼]</key>
	<string>048.png</string>
	<key>[左哼哼]</key>
	<string>049.png</string>
	<key>[嘘]</key>
	<string>050.png</string>
	<key>[委屈]</key>
	<string>051.png</string>
	<key>[吐]</key>
	<string>052.png</string>
	<key>[可怜]</key>
	<string>053.png</string>
	<key>[打哈气]</key>
	<string>054.png</string>
	<key>[顶]</key>
	<string>055.png</string>
	<key>[疑问]</key>
	<string>056.png</string>
	<key>[做鬼脸]</key>
	<string>057.png</string>
	<key>[害羞]</key>
	<string>058.png</string>
	<key>[书呆子]</key>
	<string>059.png</string>
	<key>[困]</key>
	<string>060.png</string>
	<key>[悲伤]</key>
	<string>061.png</string>
	<key>[感冒]</key>
	<string>062.png</string>
	<key>[拜拜]</key>
	<string>063.png</string>
	<key>[黑线]</key>
	<string>064.png</string>
	<key>[不要]</key>
	<string>065.png</string>
	<key>[good]</key>
	<string>066.png</string>
	<key>[弱]</key>
	<string>067.png</string>
	<key>[ok]</key>
	<string>068.png</string>
	<key>[赞]</key>
	<string>069.png</string>
	<key>[来]</key>
	<string>070.png</string>
	<key>[耶]</key>
	<string>071.png</string>
	<key>[haha]</key>
	<string>072.png</string>
	<key>[拳头]</key>
	<string>073.png</string>
	<key>[最差]</key>
	<string>074.png</string>
	<key>[握手]</key>
	<string>075.png</string>
	<key>[心]</key>
	<string>076.png</string>
	<key>[伤心]</key>
	<string>077.png</string>
	<key>[猪头]</key>
	<string>078.png</string>
	<key>[咖啡]</key>
	<string>079.png</string>
	<key>[话筒]</key>
	<string>080.png</string>
	<key>[月亮]</key>
	<string>081.png</string>
	<key>[太阳]</key>
	<string>082.png</string>
	<key>[干杯]</key>
	<string>083.png</string>
	<key>[萌]</key>
	<string>084.png</string>
	<key>[礼物]</key>
	<string>085.png</string>
	<key>[互粉]</key>
	<string>086.png</string>
	<key>[蜡烛]</key>
	<string>087.png</string>
	<key>[绿丝带]</key>
	<string>088.png</string>
	<key>[沙尘暴]</key>
	<string>089.png</string>
	<key>[钟]</key>
	<string>090.png</string>
	<key>[自行车]</key>
	<string>091.png</string>
	<key>[蛋糕]</key>
	<string>092.png</string>
	<key>[围脖]</key>
	<string>093.png</string>
	<key>[手套]</key>
	<string>094.png</string>
	<key>[雪]</key>
	<string>095.png</string>
	<key>[雪人]</key>
	<string>096.png</string>
	<key>[温暖帽子]</key>
	<string>097.png</string>
	<key>[微风]</key>
	<string>098.png</string>
	<key>[足球]</key>
	<string>099.png</string>
	<key>[电影]</key>
	<string>100.png</string>
	<key>[风扇]</key>
	<string>101.png</string>
	<key>[鲜花]</key>
	<string>102.png</string>
	<key>[喜]</key>
	<string>103.png</string>
	<key>[手机]</key>
	<string>104.png</string>
	<key>[音乐]</key>
	<string>105.png</string>
	<key>[偷乐]</key>
	<string>106.png</string>
	<key>[哦耶]</key>
	<string>107.png</string>
	<key>[好囧]</key>
	<string>108.png</string>
	<key>[好棒]</key>
	<string>109.png</string>
	<key>[崩溃]</key>
	<string>110.png</string>
	<key>[不好意思]</key>
	<string>141.png</string>
	<key>[不想上班]</key>
	<string>142.png</string>
	<key>[丘比特]</key>
	<string>126.png</string>
	<key>[互相膜拜]</key>
	<string>143.png</string>
	<key>[别烦我]</key>
	<string>127.png</string>
	<key>[困死了]</key>
	<string>128.png</string>
	<key>[好喜欢]</key>
	<string>129.png</string>
	<key>[好爱哦]</key>
	<string>130.png</string>
	<key>[巨汗]</key>
	<string>111.png</string>
	<key>[得意地笑]</key>
	<string>144.png</string>
	<key>[悲催]</key>
	<string>112.png</string>
	<key>[想一想]</key>
	<string>131.png</string>
	<key>[抠鼻屎]</key>
	<string>132.png</string>
	<key>[拍手]</key>
	<string>113.png</string>
	<key>[推荐]</key>
	<string>114.png</string>
	<key>[有鸭梨]</key>
	<string>133.png</string>
	<key>[杰克逊]</key>
	<string>134.png</string>
	<key>[求关注]</key>
	<string>135.png</string>
	<key>[泪流满面]</key>
	<string>145.png</string>
	<key>[玫瑰]</key>
	<string>115.png</string>
	<key>[甩甩手]</key>
	<string>136.png</string>
	<key>[瞧瞧]</key>
	<string>116.png</string>
	<key>[笑哈哈]</key>
	<string>137.png</string>
	<key>[纠结]</key>
	<string>117.png</string>
	<key>[给劲]</key>
	<string>118.png</string>
	<key>[羞嗒嗒]</key>
	<string>138.png</string>
	<key>[群体围观]</key>
	<string>146.png</string>
	<key>[膜拜了]</key>
	<string>139.png</string>
	<key>[被电]</key>
	<string>119.png</string>
	<key>[许愿]</key>
	<string>120.png</string>
	<key>[赞啊]</key>
	<string>121.png</string>
	<key>[躁狂症]</key>
	<string>140.png</string>
	<key>[转发]</key>
	<string>122.png</string>
	<key>[雷锋]</key>
	<string>123.png</string>
	<key>[震惊]</key>
	<string>124.png</string>
	<key>[霹雳]</key>
	<string>125.png</string>
    <key>[HOLD住]</key>
	<string>147.png</string>
</dict>
</plist>
